body {
    margin: 50px 100px 0 100px;
    background-color: #faf9f6;
    min-height: 95vh;
    /* display: block; */
    background-color: gray;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    display: flex;
    align-items: center;
}
.title img{
   display: block;
    margin-left: 0px;
    margin-right: 100px;
}
.main-text {
    color: #fff;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    margin-left: 20px; 
    font-family: "Montserrat", sans-serif;
}

.header ul li {
    list-style: none;
    padding-top: 0px;
    font-family: "Montserrat", sans-serif;

}

.header ul li a {
    text-decoration: none;
    color: #fff; 
}

.header ul {
    display: flex;
    flex-direction: row;
    gap: 60px;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

.about {
    white-space: nowrap;
    
}
.header ul li a:hover{
    color: orange;
}


.mainpage {
    display: block;
    align-items: flex-start;
    justify-content: space-between;
}

.img{
    position: absolute;
    top: 550px;
    left: 1100px;
}

.mainpage p {
    padding-top: 50px;
    font-size: 15pt;
    text-align: justify;
    color: #ffffff;
    flex: 1;
    max-width: 900px; 
}

.h2{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20pt;
}

.form-container {
    display: flex;
    justify-content: center;
    background-color: #f5f7fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.form-text p {
    margin: 0;
    font-weight: bold;
}

.horizontal-form {
    display: flex;
    gap: 10px;
    align-items: center;
}

.horizontal-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 200px;
}

.horizontal-form button {
    padding: 10px 20px;
    background-color: #ff7043;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.horizontal-form button:hover {
    background-color: #ff5722;
}
